@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: #fff;
}

.container {
  width: 80%;
  margin: 30px auto;
  /* border: 2px solid red; */
}
.btn {
  background-color: white;
  color: #000;
  padding: 5px 40px;
  border: 1px solid #ddd;
  margin-top: 10px;
}
/* ******section-1******* */

.section-1 h3 {
  margin-top: 50px;
}
.section-1 .select {
  margin: 30px 0;
}
.section-1 #select {
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
}
#professionn{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
#professionn .userContainer{
    background-color: black;
    border: 1px solid #fff;
    color: white;
    width: 700px;
    padding: 5px;
    border-radius: 5px;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userContainer p{
    padding: 0 18px;
}

/* ******section-2******* */
.section-2 {
  margin-top: 100px;
}
.section-2 h3 {
  margin: 15px 0;
}
.div-form {
  display: flex;
  width: 100%;
  margin: 20px 0;
}
.form-div {
  width: 30%;
  margin-right: 30px;
  /* border: 2px solid white; */
  text-align: left;
  margin-top: 10px;
}
.section-2 input[type="text"],
.section-2 input[type="age"] {
  background-color: #000;
  border: 1px solid #ddd;
  color: #fff;
  width: 100%;
  margin: 10px 0;
  padding: 3px 5px;
}